<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oyexport.dao.ExportAllMapper">
    <select id="selectFollowRate" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
      SELECT  * from  follow_rate
    </select>

    <select id="selectFollowRateExt" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
      SELECT  * from  follow_rate_ext
    </select>

</mapper>